<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="S2DataStore.ConnectionString" connectionString="Data Source=MATTHEW-DESKTOP\SQLEXPRESS;Initial Catalog=S2DataStore;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="Studio2RotaControl.Properties.Settings.S2DataStoreConnectionString"
        connectionString="Data Source=MATTHEW-DESKTOP\SQLEXPRESS;Initial Catalog=S2DataStore;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>